{% extends "fragments/layout" %}

{% block body %}

<!-- Lista de Albumes -->
{% if albumes is empty %}
<div class="alert alert-info text-center">
  <i class="bi bi-info-circle"></i> No se han encontrado álbumes
</div>
{% else %}
<table class="table table-striped">
  <tr>
    <th>ID</th>
    <th>Título</th>
    <th>Artista</th>
    <th>Género</th>
    <th>Precio</th>
  </tr>
  {% for album in albumes %}
  <tr>
    <td>{{ album.id }}</td>
    <td><a href="/app/misalbumes/{{ album.id }}">{{ album.titulo }} </a></td>
    <td>{{ album.artista }}</td>
    <td>{{ album.genero }}</td>
    <td>{{ album.precio }}</td>
  </tr>
  {% endfor %}
</table>

{% endif %}
{% endblock %}

