<!--  Modal para el borrado -->
<div class="modal fade" id="delete-modal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">
          <i class="bi bi-exclamation-triangle"></i> {{ deleteTitle | default("Borrar álbum") }}
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
      </div>
      <div class="modal-body">
        <p><i class="bi bi-question-circle"></i> {{ deleteMessage | default("¿Confirmas el borrado de este álbum?") }}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          <i class="bi bi-x-circle"></i> Cancelar
        </button>

        <form method="post" action="{{ deleteUrl }}" class="d-inline" id="delete-form">
          <input type="hidden" name="{{ csrfParamName }}"  value="{{ csrfToken }}"/>
          <input type="hidden" name="deleteToken" value="{{ deleteToken }}">
          <button type="button" class="btn btn-danger" id="btn-confirmar-borrado">
            <i class="bi bi-trash"></i> Eliminar
          </button>
        </form>
      </div>
    </div>
  </div>
</div>

