{% extends "fragments/layout" %}

{% block body %}

<div class="container mt-5 pt-5">
  <div class="row justify-content-center">
    <div class="col-md-6 mt-5" id="loginbox">
      <div class="card shadow">
        <div class="card-header">
          <h4 class="mb-0">{{ message('auth.login') }}</h4>
        </div>
        <div class="card-body">
          <form action="/auth/login-post" id="loginform" method="POST">
            <input name="{{ csrfParamName }}" type="hidden" value="{{ csrfToken }}">

            <div class="mb-4">
              <label class="form-label" for="login-username">
                {{ message('auth.username') }}
              </label>
              <input class="form-control" id="login-username" name="username"
                     placeholder="Your username"
                     required type="text">
            </div>

            <div class="mb-4">
              <label class="form-label" for="login-password">
                {{ message('auth.password') }}
              </label>
              <input class="form-control" id="login-password" name="password"
                     placeholder="Your password"
                     required type="password">
            </div>

            <div class="d-grid gap-2">
              <button class="btn btn-primary btn-lg" type="submit">
                Enter
              </button>
              <a href="/public" class="btn btn-secondary">
                Return
              </a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}

